/* Modal Overlay Styles */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99
}

/* Modal Content Styles */
.modalContent {
    background-color: #fff;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    max-width: 500px;
    width: 90%;
    overflow: hidden;
    z-index: 100;
}

.topBar {
  background-color: lightgrey;
  height: 30px;
  width: 100%;
}

.contentContainer {
    padding: 20px;
}

/* Close Button Styles */
.closeModalBtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 22px;
    cursor: pointer;
}

/* Button to Open Modal */
.openModalBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsive Styles (Adjust as needed) */
@media (max-width: 600px) {
    .modalContent {
        max-width: 90%;
    }
}
