.titleBar {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.leftItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
  
.rightItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.title {
    display: inline-block;
    font-size: 24px;
    margin: 0 40px 0 0;
}
