.row {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    width: 40px;
}

.content {
  display: flex;
  justify-content: start;
  align-items: center;
  height: auto;
}
