:root {
  --backgroundNeutral: #fff;
  --backgroundNeutralHover: #ddd;
  --backgroundPrimary: #00e;
  --backgroundPrimaryHover: #33f;
  --textNeutral: #222;
  --textMuted: #bbb;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
}
