.container {
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    font-family: inherit;
}

.button {
    display: flex;
    font-family: inherit;
    font-size: 14px;
    color: var(--textNeutral);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.button:hover {
    background-color: #eee;
}

.dropdownContainer {
    padding: 10px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px 0px;
    position: absolute;
    top: 0;
    background-color: white;
    z-index: 99;
}