.button {
    font-family: inherit;
    font-size: 14px;
    color: var(--textNeutral);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #eee;
}