.container {
    position: relative;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin: 0;
    position: absolute;
    top: 45px;
    right: 3px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    overflow: hidden;
    list-style: none;
    z-index: 99;
}

.list li {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: var(--size);
    color: var(--txt);
    display: flex;
    justify-content: space-between;
    
}

.list li:hover {
    background-color: #eee;
}