.eventForm {
  min-height: 230px;
}

/* Hide the default radio button */
input.radio[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Style the custom button appearance */
  .radioButtons label {
    display: inline-block;
    background-color: D2E3FC;
    border: none;
    padding: 0;
    cursor: pointer;
    user-select: none;
    margin-top: 5px;
  }

  .radioButtons span {
    padding: 10px;
  }
  
  /* Add styles for the selected radio button */
  .radioButtons input[type="radio"]:checked + span {
    padding: 10px;
    background-color: #D2E3FC;
    color: #fff;
  }

